@page "/"

@*// note used BlazorWebAsembly, NetCore 5.0 current, PWA (progressive web app)*@
 
<h1>Laguna Only Pharmacist App <br /> <br /></h1>
@*<h1> Burt used BlazorWebAsembly, NetCore 5.0 current, PWA (progressive web app)</h1>*@

<h1>Every Hospital Patient deserves a Doctor of Pharmacy protecting the quality of their medication therapy.</h1>

<p1>Suggested Use:  After getting a new Heparin Drip Start, select the Protocol Type and the Lab to monitor.
    Input the Patient info, then Click the Calculate Button. Review the output vs the EMR calculations for possible differences to resolve.
    You can Select the output text, copy (Ctrl-C) and paste (Ctrl-V) into the EMR (Admin Instructions / Intervention Note)</p1>

@*Welcome to your new app.*@

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
