@page "/"

@*// note used BlazorWebAsembly, NetCore 5.0 current, PWA (progressive web app)*@

<h1>Laguna Only Pharmacist App</h1>
<h1> Burt used BlazorWebAsembly, NetCore 5.0 current, PWA (progressive web app)</h1>

@*Welcome to your new app.*@

@*<SurveyPrompt Title="How is Blazor working for you?" />*@
